body {    
    background-color: lightgoldenrodyellow;
    font-size: 20px;
    padding: 0;
}

p {
    text-align: justify;
}
.contaner {
    box-shadow: 5px 5px 5px rgba(122, 122, 122, 0.5);
    border-radius: 20px;
    box-sizing: border-box;
    max-width: 1024px;
    margin: 0 auto;
    background-color: linen;
}

header {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    background-color: #fde4cf;
    min-height: 400px;
    }

#foto {
    width: 270px;
}

#contact_foto {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
    padding: 10px 10px 10px 20px;
}

h1, h2 {
    text-align: center;
}

.name {
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: underline #66cccc;
    word-spacing: 0.5em;
    margin: 0 auto;
    padding-top: 30px ;

}

.position {
    background-color: lightgray;
    max-width: 400px;
    border-radius: 10px;
    font-size: 30px;
    margin: 30px auto;
}

#contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact_link {
    text-decoration: none;
    color: black;
    font-size: 1.1em;
    }
.mail:before {
    content: "";
    background-image: url(images/mail_icon.png);
    background-size: cover;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 20px;
    display: inline-block;
    vertical-align: middle;
}

.ln:before {
    content: "";
    background-image: url(images/linked_icon2.png);
    background-size: cover;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 20px;
    display: inline-block;
    vertical-align: middle;
    }

.tel:before {
    content: "";
    background-image: url(images/phone_icon.png);
    background-size: cover;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 20px;
    display: inline-block;
    vertical-align: middle;
    }

    
.gh:before {
    content: "";
    background-image: url(images/github_icon.png);
    background-size: cover;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 20px;
    display: inline-block;
    vertical-align: middle;
    }

.gh:hover:before {
    content: "";
    background-image: url(images/github_icon.png);
    background-size: cover;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 15px;
    margin-left: 5px;
    display: inline-block;
    vertical-align: middle;
    }

.tel:hover:before {
    content: "";
    background-image: url(images/phone_icon.png);
    background-size: cover;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 15px;
    margin-left: 5px;
    display: inline-block;
    vertical-align: middle;
    } 
    
.ln:hover:before {
    content: "";
    background-image: url(images/linked_icon2.png);
    background-size: cover;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 15px;
    margin-left: 5px;
    display: inline-block;
    vertical-align: middle;
    }

.mail:hover:before {
    content: "";
    background-image: url(images/mail_icon.png);
    background-size: cover;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 15px;
    margin-left: 5px;
    display: inline-block;
    vertical-align: middle;
        }

section {
    padding: 10px 20px 10px 20px;
}

a {
    text-decoration: none;
    color: royalblue
}

footer {
    text-align: center;
    flex-direction: row;

}

.skills_lang {
    background-color: #fde4cf;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;
}

.education_courses {
    background-color: #fde4cf;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

#link_list {
    list-style-type: none;
}

.link_contaner {
    margin-top: 20px;
}

.wrapper {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
}

footer {
    padding-bottom: 10px;

}

.summary {
    padding: 20px;
}

@media screen and (max-width: 1024px) {
    

}

@media screen and (max-width: 996px) {
    .skills_lang {
        width: 100%;
        flex-direction: row;
        justify-content: space-evenly;
        display: flex;
        flex-wrap: wrap;
        
    } 
    .Languages {
        text-align: left;  
    }
    
    .education_courses {
        width: 100%;
    }
    
}

@media screen and (max-width: 500px) {
    .name {
        font-size: 20px;
    }

    h3 {
        margin: 10px;

    }

    h2.position {
        margin: 15px;
        
        margin-left: 20%;
    }

    .wrapper {
        padding: 0;
    }

    p.summary {
        padding: 0;
    }

    div.education_courses {
        padding: 0;
    }

    div.skills_lang {
        padding: 0;
    }

    .section {
        padding: 0;
    }

    .position {
        font-size: 16px;
        width: 60%;
    }

    li.link_contaner {
        margin: 10px;
    }

    body {
        font-size: 15px;
    }
    .skills_lang {
        width: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        display: flex;
        flex-wrap: nowrap;}

    ul#link_list {
        margin:  0;
        padding: 0;          
    }

    img#foto {
        width: 90%;
        margin: 0 auto;
    }
   
}

