body {
  background-color: lightgoldenrodyellow;
  font-size: 20px;
  padding: 0;
}

p {
  text-align: justify;
}

.container {
  box-shadow: 5px 5px 5px rgba(122, 122, 122, 0.5);
  border-radius: 20px;
  box-sizing: border-box;
  max-width: 1024px;
  margin: 0 auto;
  background-color: linen;
}

header {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #fde4cf;
  min-height: 400px;
}

.photo {
  width: 270px;
}

.contact_photo_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap-reverse;
  padding: 10px 10px 10px 20px;
  align-items: center;
}

.list {
  padding-left: 20px;
}

h1 {
  font-family: "Jockey One", sans-serif;
}

h3 {
  font-family: "Courgette", cursive;
}

h1,
h2,
h3 {
  text-align: center;
}

.name {
  font-size: 50px;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: underline #66cccc;
  word-spacing: 0.5em;
  margin: 0 auto;
  padding-top: 30px;
}

.position {
  background-color: lightgray;
  max-width: 400px;
  border-radius: 10px;
  font-size: 30px;
  margin: 30px auto;
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact_link {
  text-decoration: none;
  color: black;
  font-size: 20px;
  padding-top: 10px;
}

.contact_link:before {
  content: "";
  background-size: cover;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-right: 20px;
  display: inline-block;
  vertical-align: middle;
  margin: 10px 20px 10px 0;
}

.mail:before {
  background-image: url(images/mail_icon.png);
}

.ln:before {
  background-image: url(images/linked_icon2.png);
}

.tel:before {
  background-image: url(images/phone_icon.png);
}

.gh:before {
  background-image: url(images/github_icon.png);
}

.contact_link:hover:before {
  content: "";
  background-size: cover;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-right: 15px;
  margin-left: 5px;
  display: inline-block;
  vertical-align: middle;
}

.gh:hover:before {
  background-image: url(images/github_icon.png);
}

.tel:hover:before {
  background-image: url(images/phone_icon.png);
}

.ln:hover:before {
  background-image: url(images/linked_icon2.png);
}

.mail:hover:before {
  background-image: url(images/mail_icon.png);
}

section {
  padding: 10px 20px;
}

a {
  text-decoration: none;
  color: royalblue;
}

footer {
  text-align: center;
  flex-direction: row;
}

.skills_lang {
  background-color: #fde4cf;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  align-content: stretch;
  flex-wrap: wrap;
  padding-left: 20px;
  padding-right: 20px;
}

.education_courses {
  background-color: #fde4cf;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-right: 10px;
}

.link_list {
  list-style-type: none;
}

.link_contaner {
  margin-top: 20px;
}

.wrapper {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
}

footer {
  padding-bottom: 10px;
}

.summary {
  padding: 20px;
}

@media screen and (max-width: 996px) {
  .skills_lang {
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
  }

  .languages {
    text-align: left;
  }

  .education_courses {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  body {
    margin: 0;
  }

  .contact_link:before {
    margin: 5px 20px 10px 0  
  }

  .contact_link {
      font-size: 18px;
  }

  .container {
    border-radius: 0;
  }

  header {
    border-radius: 0;
  }

  .name {
    font-size: 20px;
  }

  h3 {
    margin: 10px;
  }

  h2.position {
    margin: 15px;

    margin-left: 20%;
  }

  .wrapper, .summary, .section {
    padding: 0;
  }

  .education_courses, .skills_lang {
    padding: 0 10px;
  }

  .position {
    font-size: 16px;
    width: 60%;
  }

  body {
    font-size: 15px;
  }
  .skills_lang {
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: nowrap;
  }

  .link_list {
    margin: 0;
    padding: 0;
  }

  img.photo {
    width: 90%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 360px) {
  .contact_link {
    font-size: 12px;
  }

  .skills_lang {
    flex-direction: column;
    align-items: center;
  }

  .contact_link:before {
    margin: 0 10px;
    width: 15px;
    height: 15px;
  }

  .link_container {
    margin: 5px 0;
  }

  .contact_photo_wrapper {
    justify-content: flex-start;
  }
}
