

header {
    background-color: $main_color;
    width: 100%;
    border-bottom: 6px solid $header_border;
    font-weight: bold;
    position: fixed;
    top: 0;
    z-index: 100;
    
}

.menu {
    padding-right: 40px;
    margin: 0;
    @media screen and (max-width: $tablet) {
        display: none;
    }
}

.main_menu {
    text-decoration: none;
    color: $header_text;
   &:hover {
        color: $hover_color;}
    &:active {
        color: $slider_color; 
}
}

.menu_item {
    color: $header_text;
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.2rem;
    padding-top: 42px;
    padding-bottom: 39px; 
&:before {
    content: '\2022';
    display: inline-block;
    padding: 0 15px;
    font-size: 0.5rem;
    vertical-align: middle;  
}
}

.menu_item:first-child:before {
        content: ''; 
    }

.header {
    @include header_footer_flex;
    @media  screen and (max-width: $tablet) {
        justify-content: center;
}
}

h1 {
    color: $header_text;
    margin: 0;
    padding: 29px 0 41px 40px;
    text-transform: uppercase;
    font-size: 2.5rem;
    line-height: 3rem;
    font-weight: bold;
    @media  screen and (max-width: $tablet) {
        padding: 24px 0 23px 0;
}
}

span {
    color: $slider_color;
    vertical-align: top;
    font-weight: bold;
}