.servises {
   color: $servises_text; 
}

.servises_list {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   text-align: justify;
   padding: 42px 0 52px 0;
}

h3 {
    font-size: 1.8rem;
    margin-top: 0; 
  }

.design:before {
    @include paragraph(-170px, -90px);
}

.ideas:before {
    @include paragraph(-90px, -90px);
}

.star:before {
    @include paragraph(-90px, -10px);
}

.love:before {
    @include paragraph(-10px, -10px);
}

.responsive:before {
    @include paragraph(-170px, -10px);
}

.support:before {
    @include paragraph(-10px, -90px);
}

.servis-item {
    height: 104px;
    width: 220px;
    overflow: hidden;
    padding-left: 110px;
    position: relative;
    margin-bottom: 20px;
            
    & p {
      font-size: 1.2rem;
      line-height: 2.2rem;
      margin: 0; 
      text-overflow: clip; 
          }
}

