$main-color: #2d303a;
$secondary-color: #f2f2f2;
$header-text: #fff;
$slider-color: #f06c64;
$slider-shadow: #ea676b;
$slider-border: #ea676b;
$header-border: #323746;
$portfolio-text: #666d89;
$services-text: #666d89;
$filter-active: #dedede;
$hover-color: #4d7198;

$desktop: 1020px;
$tablet: 768px;
$mobile: 375px;
