$main_color: #2D303A;
$secondary_color: #F2F2F2;
$header_text: #FFFFFF;
$slider_color: #F06C64;
$slider-shadow: #EA676B;
$header_border: #323746;
$portfolio_text: #666D89;
$servises_text: #666D89;
$filter_active: #DEDEDE;
$hover_color: #4d7198;

