.field {
  &_plaing {
    display: flex;
    flex-direction: column;
    position: relative;
    width: calc(100% - 300px);
    height: 100vh;
    background: radial-gradient(ellipse 100% 100% at bottom center, $left-back-color-bottom 0, $left-back-color-top 80%);
  }

  &_controls {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    height: 100vh;
    background-color: $right-background-color;
  }
}

.rock {
  position: absolute;
  width: 350px;
  height: 240px;
  background-image: url('../images/rock.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 0 auto;
  bottom: 0;
  left: 35%;
}

.drop {
  position: absolute;
  display: flex;
  width: 80px;
  height: 80px;
  background-color: $drop-color;
  border: 5px solid $drop-border-color;
  border-radius: 50%;
  top: 0;
  left: 100px;
  justify-content: center;
  align-items: center;
  z-index: 2;

  &_bonus {
    background-color: #0893bf;
    border-color: #077a9f;
    color: #fff;
  }

  &_wrong {
    background-color: #ff6347;
    border-color: #ff4500;
    color: #fff;
  }

  &_container {
    width: 100%;
    height: 75vh;
  }

  &_item {
    display: flex;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
  }

  &_operator {
    font-size: 3rem;
  }
}

.wave {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 25%;
  transition: all 0.2s;
}

.splash {
  position: absolute;
  width: 150px;
  height: 150px;
  background-image: url('../images/splash.png');
  background-size: 100% 100%;
  transition: all 0.1s;
  z-index: 2;
}
