$left-back-color-top: #fff;
$left-back-color-bottom: #c6e6e8;
$score-value-color: #930;
$score-box-color: #f1f1f1;
$right-background-color: #cbe8e5;
$keyboard-border-color: #e7e1c6;
$drop-color: #b4e6e6;
$drop-border-color: #79d2d2;
$score-border-color: #fff;
$shadow-color: rgba(0, 0, 0, 0.2);
$display-color: #eee;
$button-color: #fff;
