header {
  background-color: #2D303A;
  width: 100%;
  border-bottom: 6px solid #323746;
  font-weight: bold;
  position: fixed;
  top: 0;
  z-index: 100; }

.menu {
  padding-right: 40px;
  margin: 0; }
  @media screen and (max-width: 768px) {
    .menu {
      display: none; } }

.main_menu {
  text-decoration: none;
  color: #FFFFFF; }
  .main_menu:hover {
    color: #4d7198; }
  .main_menu:active {
    color: #F06C64; }

.menu_item {
  color: #FFFFFF;
  display: inline-block;
  text-transform: uppercase;
  font-size: 1.2rem;
  padding-top: 42px;
  padding-bottom: 39px; }
  .menu_item:before {
    content: '\2022';
    display: inline-block;
    padding: 0 15px;
    font-size: 0.5rem;
    vertical-align: middle; }

.menu_item:first-child:before {
  content: ''; }

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  @media screen and (max-width: 768px) {
    .header {
      justify-content: center; } }

h1 {
  color: #FFFFFF;
  margin: 0;
  padding: 29px 0 41px 40px;
  text-transform: uppercase;
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: bold; }
  @media screen and (max-width: 768px) {
    h1 {
      padding: 24px 0 23px 0; } }

span {
  color: #F06C64;
  vertical-align: top;
  font-weight: bold; }

footer {
  background-color: #2D303A;
  width: 100%;
  border-top: 6px solid #323746;
  margin: 0; }

.social_media_container {
  display: flex;
  flex-direction: row;
  padding: 22px 42px; }

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  @media screen and (max-width: 768px) {
    .footer {
      justify-content: center; } }

.copyright {
  color: #666D89;
  padding: 30px 0 29px 40px;
  font-size: 1.3rem; }
  @media screen and (max-width: 768px) {
    .copyright {
      display: none; } }

.facebook_link {
  width: 32px;
  height: 33px;
  background: url("../images/css_sprites.png") -250px -169px;
  margin-left: 8px; }
  .facebook_link:hover {
    width: 32px;
    height: 33px;
    background: url("../images/css_sprites.png") -166px -170px; }
  .facebook_link:active {
    width: 32px;
    height: 33px;
    background: url("../images/css_sprites.png") -166px -223px; }

.google_link {
  width: 32px;
  height: 33px;
  background: url("../images/css_sprites.png") -250px -116px;
  margin-left: 8px; }
  .google_link:hover {
    width: 32px;
    height: 33px;
    background: url("../images/css_sprites.png") -114px -170px; }
  .google_link:active {
    width: 32px;
    height: 33px;
    background: url("../images/css_sprites.png") -114px -223px; }

.twitter_link {
  width: 32px;
  height: 33px;
  background: url("../images/css_sprites.png") -250px -63px;
  margin-left: 8px; }
  .twitter_link:hover {
    width: 32px;
    height: 33px;
    background: url("../images/css_sprites.png") -62px -170px; }
  .twitter_link:active {
    width: 32px;
    height: 33px;
    background: url("../images/css_sprites.png") -62px -223px; }

.linkedin_link {
  width: 32px;
  height: 33px;
  background: url("../images/css_sprites.png") -250px -10px;
  margin-left: 8px; }
  .linkedin_link:hover {
    width: 32px;
    height: 33px;
    background: url("../images/css_sprites.png") -10px -170px; }
  .linkedin_link:active {
    width: 32px;
    height: 33px;
    background: url("../images/css_sprites.png") -10px -223px; }

.portfolio {
  background-color: #2D303A;
  color: #666D89; }

.summary {
  font-size: 1.8rem;
  padding-left: 40px; }

h2 {
  font-size: 3rem;
  padding-top: 59px;
  padding-left: 40px;
  margin: 0;
  text-transform: capitalize; }

.filter {
  display: inline-block;
  border-radius: 5px;
  border: 1px solid #666D89;
  margin-right: 10px;
  font-size: 1.2rem;
  padding: 5px;
  text-transform: capitalize;
  cursor: pointer; }
  .filter:hover {
    color: #4d7198;
    border-color: #4d7198; }

.portfolio_images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 8px 30px 64px 30px;
  justify-content: space-between;
  align-content: space-between; }

.image {
  padding: 10px; }
  .image:before {
    content: '';
    display: block; }
  @media screen and (max-width: 1020px) {
    .image {
      width: calc(33% - 20px); } }
  @media screen and (max-width: 768px) {
    .image {
      width: calc(50% - 20px); } }

img {
  width: 100%;
  height: 100%; }

.servises {
  color: #666D89; }

.servises_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: justify;
  padding: 42px 40px 52px 40px; }
  @media screen and (max-width: 1020px) {
    .servises_list {
      justify-content: space-around;
      padding-right: 0px; } }
  @media screen and (max-width: 768px) {
    .servises_list {
      display: block; } }

h3 {
  font-size: 1.8rem;
  margin-top: 0; }

.design:before {
  content: '';
  display: inline-block;
  width: 60px;
  height: 60px;
  background: url("../images/css_sprites.png") -170px -90px;
  position: absolute;
  left: 0px;
  top: 0; }

.ideas:before {
  content: '';
  display: inline-block;
  width: 60px;
  height: 60px;
  background: url("../images/css_sprites.png") -90px -90px;
  position: absolute;
  left: 0px;
  top: 0; }

.star:before {
  content: '';
  display: inline-block;
  width: 60px;
  height: 60px;
  background: url("../images/css_sprites.png") -90px -10px;
  position: absolute;
  left: 0px;
  top: 0; }

.love:before {
  content: '';
  display: inline-block;
  width: 60px;
  height: 60px;
  background: url("../images/css_sprites.png") -10px -10px;
  position: absolute;
  left: 0px;
  top: 0; }

.responsive:before {
  content: '';
  display: inline-block;
  width: 60px;
  height: 60px;
  background: url("../images/css_sprites.png") -170px -10px;
  position: absolute;
  left: 0px;
  top: 0; }

.support:before {
  content: '';
  display: inline-block;
  width: 60px;
  height: 60px;
  background: url("../images/css_sprites.png") -10px -90px;
  position: absolute;
  left: 0px;
  top: 0; }

.servis-item {
  height: 104px;
  width: 220px;
  overflow: hidden;
  padding-left: 70px;
  position: relative;
  margin-bottom: 20px; }
  @media screen and (max-width: 1020px) {
    .servis-item {
      padding-right: 25px;
      width: calc((100%-100px)/3); } }
  @media screen and (max-width: 768px) {
    .servis-item {
      width: calc(90% - 100px); } }
  .servis-item p {
    font-size: 1.2rem;
    line-height: 2.2rem;
    margin: 0;
    text-overflow: clip; }

.summary {
  text-align: justify;
  padding-right: 40px;
  line-height: 3rem; }

html {
  font-size: 10px; }

body {
  font-family: 'Lato', sans-serif;
  margin: 0; }

.container {
  width: 1020px;
  margin: 0 auto;
  position: relative; }
  @media screen and (max-width: 1020px) {
    .container {
      width: 100%; } }

li {
  list-style: none; }

ul {
  margin: 0; }

.slider {
  background-color: #F06C64;
  margin-top: 100px;
  border-bottom: 6px solid #EA676B; }
  @media screen and (max-width: 768px) {
    .slider {
      margin-top: 83px; } }

.vertical_phone {
  background: url("../images/phone-vertical-display.png") 126px 119px no-repeat, url("../images/phone-vertical.svg") 112px 54px no-repeat, url("../images/phone-vertical-shadow.png") 112px 54px no-repeat;
  height: 458px;
  width: 216px;
  padding: 54px 24px 88px 112px; }
  @media screen and (max-width: 1020px) {
    .vertical_phone {
      height: 344px;
      width: 162px;
      background: url("../images/phone-vertical-display.png") 90px 89px no-repeat, url("../images/phone-vertical.svg") 80px 40px no-repeat, url("../images/phone-vertical-shadow.png") 82px 42px no-repeat;
      background-size: 142px 250px , 162px 344px, 180px 363px;
      padding: 41px 24px 30px 86px; } }

.horisontal_phone {
  background: url("../images/phone-horizontal-display.png") 60px 191px no-repeat, url("../images/phone-horizontal.svg") 0 177px no-repeat, url("../images/phone-horizontal-shadow.png") 0 177px no-repeat;
  height: 216px;
  width: 458px;
  padding: 177px 137px 207px 0; }
  @media screen and (max-width: 1020px) {
    .horisontal_phone {
      height: 162px;
      width: 344px;
      background: url("../images/phone-horizontal-display.png") 45px 143px no-repeat, url("../images/phone-horizontal.svg") 0 133px no-repeat, url("../images/phone-horizontal-shadow.png") 0 133px no-repeat;
      background-size: 250px 142px, 344px 162px, 363px 180px;
      padding: 133px 104px 156px 0; } }

.phones_1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  @media screen and (max-width: 1020px) {
    .phones_1 {
      justify-content: space-around; } }

.arrow_left {
  width: 16px;
  height: 27px;
  background: url("../images/arrow-left.svg") no-repeat;
  position: absolute;
  top: 283px;
  left: 40px;
  cursor: pointer; }
  @media screen and (max-width: 1020px) {
    .arrow_left {
      top: 212px;
      left: 29px; } }

.arrow_right {
  position: absolute;
  width: 16px;
  height: 27px;
  background: url("../images/arrow-right.svg") no-repeat;
  top: 283px;
  right: 40px;
  cursor: pointer; }
  @media screen and (max-width: 1020px) {
    .arrow_right {
      top: 212px;
      right: 29px; } }
