.container {
  position: relative;
  width: 95%;
  background-color: $container-background;
  border-radius: 10px;
  margin: auto;
  padding: 20px;

  @media screen and (max-width: 950px) {
    width: 90%;
  }

  @media screen and (max-width: 950px) {
    width: 90%;
  }

  &_forecast {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;

    @media screen and (max-width: 700px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &_map {
    width: 300px;
    height: auto;
    margin: 20px 15px 0 25px;

    @media screen and (max-width: 950px) {
      width: calc(100% - 390px);
    }

    @media screen and (max-width: 700px) {
      width: 80%;
      height: 250px;
    }
  }

  &_data {
    width: 550px;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 950px) {
      width: 350px;
    }

    @media screen and (max-width: 400px) {
      width: 300px;
    }
  }

  &_top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;

    @media screen and (max-width: 700px) {
      flex-direction: column;
      align-items: center;
    }

    &_controls {
      display: flex;
    }

    &_search {
      flex-direction: row;
      display: flex;
      justify-content: center;
      align-items: center;
      //width: 375px;
    }
  }
}

.button {
  width: 45px;
  height: 45px;
  background-color: rgba(211, 211, 211, 0.2);
  margin: 5px 10px 5px 0;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $main-text-color;
  font-size: 2rem;
  cursor: pointer;

  &:last-child {
    margin-right: 0;
  }

  @media screen and (max-width: 700px) {
    margin: 5px 25px 5px 0;
  }

  &:hover {
    background-color: $hover-color;
  }

  &:active {
    box-shadow: 0 0 5px $main-text-color;
  }

  &_lang {
    width: 60px;
  }

  &_temp {
    width: 90px;
    display: flex;
    align-items: center;

    &_f {
      margin: 0;
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }

    &_c {
      margin: 0;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }
  }

  &_refresh {
    background-image: url('../icons/Refresh_BG.svg');
    background-size: 100% 100%;

    &_arrows {
      width: 15px;
      height: 15px;
      background-image: url('../icons/refresh_arrows.svg');
      background-size: 100% 100%;
      transition: all 0.5s;
    }
  }
}

.rotate {
  transform: rotate(360deg);
  transition: all 0.5s;
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  width: 100px;
  height: 45px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  background-color: rgba(211, 211, 211, 0.2);
  color: $main-text-color;
  cursor: pointer;
  border: 0;

  &:hover {
    background-color: $hover-color;
  }

  &:active {
    box-shadow: 0 0 5px $main-text-color;
  }

  @media screen and (max-width: 700px) {
    width: 90px;
  }
}

.input_field {
  width: 250px;
  height: 45px;
  margin: 0;
  padding: 10px;
  border: 0;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  background-color: rgba(211, 211, 211, 0.3);
  color: $main-text-color;
  box-sizing: border-box;

  &:hover {
    background-color: $hover-color;
  }

  &:active {
    box-shadow: 0 0 5px $main-text-color;
  }

  &::placeholder {
    color: $main-text-color;
  }

  @media screen and (max-width: 700px) {
    width: 155px;
  }

  &:focus {
    border: 0;
    outline: 0;
    box-shadow: 0 0 5px $main-text-color;
  }
}

.city {
  font-size: 3rem;
  margin: 10px 0;

  @media screen and (max-width: 700px) {
    text-align: center;
  }
}

.time {
  @media screen and (max-width: 700px) {
    text-align: center;
  }
}

.text {
  font-size: 2rem;
  margin: 5px 0;
}

.temp_now {
  font-size: 20rem;
  font-weight: bold;

  @media screen and (max-width: 400px) {
    font-size: 12rem;
  }
}

.weather {
  &_other {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 400px) {
      width: 80%;
      margin: 0 auto;
    }
  }

  &_item {
    position: relative;
    width: 25%;
    height: auto;
  }

  &_today {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-top: 40px;
  }

  &_now {
    padding-left: 20px;
    padding-bottom: 50px;
    position: relative;

    @media screen and (max-width: 950px) {
      padding-bottom: 20px;
    }

    &::before {
      content: '';
      position: absolute;
      width: 200px;
      height: 200px;
      background-size: 100% 100%;
      top: -160px;
      left: -20px;

      @media screen and (max-width: 950px) {
        width: 100px;
        height: 100px;
        top: -80px;
        left: 0;
      }

      @media screen and (max-width: 400px) {
        width: 75px;
        height: 75px;
        top: -60px;
        left: 0;
      }
    }
  }
}

.mapboxgl-map {
  border-radius: 25px;
  width: 100%;
  height: 80%;
  border: 0;
}

.mapboxgl-canvas {
  height: 100% !important;
}

.coord {
  font-size: 1.6rem;
}

.weather_image_main {
  z-index: 1;
  position: absolute;
  background-size: contain;
  width: 200px;
  height: 200px;
  top: -110%;
  left: -10px;

  @media screen and (max-width: 950px) {
    width: 100px;
    height: 100px;
    top: -90%;
    left: 0;
  }

  @media screen and (max-width: 400px) {
    width: 75px;
    height: 75px;
    top: -60%;
    left: 10%;
  }
}

.forecast_image {
  z-index: 1;
  position: absolute;
  background-size: contain;
  width: 100px;
  height: 100px;
  top: 15%;
  left: 10%;

  @media screen and (max-width: 950px) {
    width: 75px;
    height: 75px;
  }

  @media screen and (max-width: 400px) {
    width: 50px;
    height: 50px;
    top: 30%;
    left: 20%;
  }
}

.active {
  background-color: rgba(255, 255, 255, 0.3);
}
