body {
  position: relative;
  margin: 0;
  font-size: 10px;
  color: $main-text-color;
  font-family: 'Montserrat', sans-serif;
  background-image: url('https://s00.yaplakal.com/pics/pics_original/0/8/0/12174080.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
