body {
  position: relative;
  margin: 0;
  color: $main-text-color;
  font-family: 'Montserrat', sans-serif;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.5s;
}

html {
  font-size: 10px;

  @media screen and (max-width: $max-width) {
    font-size: 6px;
  }
}
